[submodule "sparkle/Sparkle"]
	path = sparkle/Sparkle
	url = https://github.com/sparkle-project/Sparkle.git
	ignore = dirty
[submodule "libqrencode"]
	path = libqrencode
	url = https://github.com/fukuchi/libqrencode.git
	ignore = dirty
